
/* color of pagination */
.pagination.my_pag > li.active > a {
  background-color: #FF6347;
  border-color: #FF6347;
  color: white;
}

.pagination.my_pag > li > a {
  color: #FF6347;
}

/*navbar - log in/out*/
body {
  padding-top: 70px;
}

.nav.navbar-nav.navbar-right {
  color: #EEEEEE;
  font-weight: 800;
}

.nav.navbar-nav.navbar-right > button{
  background-color: #FFFFBB;
  border-color: black;
}

.nav.navbar-nav.navbar-right > button > a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.nav.navbar-nav.navbar-right > button > a:hover {
  color: #666666;
}

.navbar-header .navbar-toggle .icon-bar{
  background-color: #FFFFBB;
}

/*navbar - collapse - pull-right*/
.nav.navbar-nav.navbar-right {
  text-align: right;
}

/*navbar - glyphicon - user & admin*/
.navbar-header .glyphicon {
  font-size: 30px;
  margin-top: 10px;
  color: #FFFFBB;
  margin-left: 10px;
}

/*navbar - title*/
.res-title {
  color: #EEEEEE;
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  font-family: Lobster;
  margin-left: 10px;
}

/*table - name, show, edit, destroy*/
.table td > a.btn {
  background-color: #FFFFBB;
}

.table tbody tr td {
  vertical-align: middle;
}

.table tbody tr th {
  vertical-align: middle;
}

.res-category {
  color: #333333;
  font-size: 15px;
  vertical-align: middle;
}

.res-name {
  color:#777777;
  font-size: 20px;
}

/*table - image size*/
.table .admin-index-image-frame {
  max-width: 150px;
}

/*web page title*/
.index-title, .show-title, .edit-title, .new-title {
  color: #777777;
}

/*show page*/
.show-title {
  display: inline-block;
}

.show-subtitle {
  display: inline-block;
  margin-left: 10px;
  color: #777777;
}

.well {
  background-color: #FFFFBB;
}

.well .row .show-content-detail > p{
  margin-top: 20px;
  font-size: 20px;
}

.well .row .col-xs-5 {
  border-right: 3px solid #FF6347;
  text-align: right;
}

.show-image-frame {
  margin: auto;
  max-width: 600px;
}

.show-icon {
  font-size: 20px;
}

/*form page*/
.description-size {
  resize: none;
}

.form-image-frame {
  display: block;
  margin: auto;
}

.upload-button {
  position: relative;
  margin-top: 10px;
}

.upload-button > input {
  position: absolute;
  right: 0;
}

.form-horizontal .form-btn-style{
  background-color: #FF6347;
  border-color: #FF6347;
  font-weight: bold;
}

.form-horizontal .form-btn-style:hover{
  background-color: #FF5533;
}

/*guest index page*/
.restaurant-item {
  border: 1px solid #ddd;
  border-radius :4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 180px;
}


.restaurant-item .caption {
  padding: 10px;
}

.restaurant-item .caption h3 a{
  text-decoration: none;
  color: #777777;
}

.restaurant-item .caption h3 a:hover{
  color: #BBBBBB;
}

.restaurant-item .caption .my-label{
  background-color: #FF6347;
}
