
/* color of pagination */
.pagination.my_pag > li.active > a {
  background-color: #FF6347;
  border-color: #FF6347;
  color: white;
}

.pagination.my_pag > li > a {
  color: #FF6347;
}

/*navbar - log in/out*/
body {
  padding-top: 70px;
}

.nav.navbar-nav.navbar-right {
  color: #EEEEEE;
  font-weight: 800;
  margin-right: 0px;
}

.nav.navbar-nav.navbar-right > a > button {
  background-color: #FFFFBB;
  border-color: black;
}

.nav.navbar-nav.navbar-right > a > button {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.nav.navbar-nav.navbar-right > a:hover button {
  color: #666666;
}

.navbar-header .navbar-toggle .icon-bar{
  background-color: #FFFFBB;
}

/*navbar - collapse - pull-right*/
.nav.navbar-nav.navbar-right {
  text-align: right;
}

/*navbar - glyphicon - user & admin*/
.navbar-header .glyphicon {
  font-size: 30px;
  margin-top: 10px;
  color: #FFFFBB;
  margin-left: 10px;
}

/*navbar - title*/
.res-title {
  color: #EEEEEE;
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  font-family: Lobster;
  margin-left: 10px;
}

/*table - name, show, edit, destroy*/
.table td > a.btn {
  background-color: #FFFFBB;
}

.table tbody tr td {
  vertical-align: middle;
}

.table tbody tr th {
  vertical-align: middle;
}

.res-category {
  color: #333333;
  font-size: 15px;
  vertical-align: middle;
}

.res-name {
  color:#777777;
  font-size: 20px;
}

/*table - image size*/
.table .admin-index-image-frame {
  max-width: 150px;
}

/*web page title*/
.index-title, .show-title, .edit-title, .new-title {
  color: #777777;
}

/*show page*/
.show-title {
  display: inline-block;
}

.show-subtitle {
  display: inline-block;
  margin-left: 10px;
  color: #777777;
}

.title-score {
  width: 100px;
  float:right;
  margin-top: 40px;
}

.title-score > * {
  display: inline-block;
  font-size: 20px;
  color: #FF6347;
}

.title-score > p {
  color: #777777;
}

.well {
  background-color: #FFFFBB;
}

.well .row .show-content-detail > p{
  margin-top: 20px;
  font-size: 20px;
}

.well .row .col-xs-5 {
  border-right: 3px solid #FF6347;
  text-align: right;
}

.show-image-frame {
  margin: auto;
  max-width: 600px;
}

.show-icon {
  font-size: 20px;
}

/*form page*/
.description-size {
  resize: none;
}

.form-image-frame {
  display: block;
  margin: auto;
}

.upload-button {
  position: relative;
  margin-top: 10px;
}

.upload-button > input {
  position: absolute;
  right: 0;
}

.form-horizontal .form-btn-style{
  background-color: #FF6347;
  border-color: #FF6347;
  font-weight: bold;
}

.form-horizontal .form-btn-style:hover{
  background-color: #FF5533;
}

/*guest index page*/
.restaurant-item {
  border: 1px solid #ddd;
  border-radius :4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 180px;
}


.restaurant-item .caption {
  padding: 10px;
}

.restaurant-item .caption h3 a{
  text-decoration: none;
  color: #777777;
}

.restaurant-item .caption h3 a:hover{
  color: #BBBBBB;
}

.restaurant-item .caption .index-score{
  float: right;
  height: 15px;
}

.restaurant-item .caption .index-score > *{
  display: inline-block;
}

.restaurant-item .caption .index-heart{
  color: #FF6347;
}

.restaurant-item .caption .my-label{
  background-color: #FF6347;
}

.restaurant-item .caption .truncated-description {
  margin-top: 5px;
}

.nav.nav-pills.nav-pills-center {
  text-align: center;
}

.nav.nav-pills.nav-pills-center li {
  float: none;
  display: inline-block;
}

.nav.nav-pills.nav-pills-center li a {
  color: #FF6347;
}

.nav.nav-pills.nav-pills-center .active a {
   background-color: #FF6347;
   color: white;
}

/*score*/
.comment-form form textarea {
  resize: none;
  width: 100%;
}

.score {
  position: relative;
}

.score input {
  opacity: 0;
  width: 25px;
  height: 25px;
  z-index: 2;
}

.score .score1, .score .heart1{
  position: absolute;
  top: 0px;
  left: 5px;
}

.score .score2, .score .heart2{
  position: absolute;
  top: 0px;
  left: 35px;
}

.score .score3, .score .heart3{
  position: absolute;
  top: 0px;
  left: 65px;
}

.score .score4, .score .heart4{
  position: absolute;
  top: 0px;
  left: 95px;
}

.score .score5, .score .heart5{
  position: absolute;
  top: 0px;
  left: 125px;
}

.score span {
  font-size: 25px;
  z-index: 1;
  position: absolute;
  top: 5px;
  text-shadow: #222222 0px 0px 1px;
  color: white;
}

.score .score5:checked ~span{
  color: #FF6347;
}

.score .score4:checked ~ .heart1{
  color: #FF6347;
}

.score .score4:checked ~ .heart2{
  color: #FF6347;
}

.score .score4:checked ~ .heart3{
  color: #FF6347;
}

.score .score4:checked ~ .heart4{
  color: #FF6347;
}

.score .score3:checked ~ .heart1{
  color: #FF6347;
}

.score .score3:checked ~ .heart2{
  color: #FF6347;
}

.score .score3:checked ~ .heart3{
  color: #FF6347;
}

.score .score2:checked ~ .heart1{
  color: #FF6347;
}

.score .score2:checked ~ .heart2{
  color: #FF6347;
}

.score .score1:checked ~ .heart1{
  color: #FF6347;
}

/*comments*/
.seperate {
  background-color: #FF6347;
  height: 3px;
  width: 20%;
  margin: 10px auto 50px auto;
}

.comment-area > div {
  position: relative;
}

.comment-area > div > a {
  text-decoration: none;
}

.comment-area > div > a:hover > h4 {
  color: #BBBBBB;
}

.comment-area > div > a > h4 {
  color: #777777;
  font-weight: bold;
  display: inline-block;
}

.comment-time {
  display: inline-block;
  margin-left: 10px;
  color: #AAAAAA;
  font-style: italic;
}

.comment-tag {
  position: absolute;
  right: 10px;
  top:10px;
}

.comment-area div .seperate {
  background-color: #CCCCCC;
  height: 1px;
  width: 100%;
  margin-bottom: 10px;
}

.comment-score {
  float: right;
}

.comment-score span {
  text-shadow: #222222 0px 0px 1px;
  color: #FFFFBB;
}

.comment-score1 .heart1 {
  color: #FF6347;
}

.comment-score2 .heart1, .comment-score2 .heart2{
  color: #FF6347;
}

.comment-score3 .heart1, .comment-score3 .heart2, .comment-score3 .heart3, {
  color: #FF6347;
}

.comment-score4 .heart1, .comment-score4 .heart2, .comment-score4 .heart3,
.comment-score4 .heart4, {
  color: #FF6347;
}

.comment-score5 .heart1, .comment-score5 .heart2, .comment-score5 .heart3,
.comment-score5 .heart4, .comment-score5 .heart5, {
  color: #FF6347;
}

.comment-content p {
  word-wrap: break-word;
}

.comment-delete {
  float: right;
}

.comment-delete a {
  text-decoration: none;
  color: #777777;
}

.comment-delete a:hover {
  color: #333333;
}

/*profile*/
.profile-personal-info div {
  vertical-align: top;
}

.avatar-frame {
  max-width: 200px;
}

.my-panel-heading.panel-heading {
  background-color: #FFFFBB;
}

.my-panel-heading.panel-heading .panel-title {
  text-align: center;
  font-weight: 700;
}

.my-restaurant-link a {
  text-decoration: none;
  color: #777777;
}

.my-restaurant-link a:hover .my-restaurant{
  opacity: 0.7;
  background-color: #EEEEEE;
}

.my-restaurant {
  display: inline-block;
}

.my-restaurant-img-frame img {
  border-radius: 10px;
}

.my-restaurant-img-frame {
  height: 100px;
}

.my-restaurant h4 {
  font-weight: bold;
}


/*RWD*/
@media (max-width: 767px) {
  .avatar-frame {
    margin: auto;
  }

  .avatar-frame ~ div table {
    margin: auto;
  }

  .profile-edit {
    float: right;
  }

}
