
/* color of pagination */
.pagination.my_pag > li.active > a {
  background-color: #FF6347;
  border-color: #FF6347;
  color: white;
}

.pagination.my_pag > li > a {
  color: #FF6347;
}

/*navbar - log in/out*/
.nav.navbar-nav.navbar-right {
  color: #EEEEEE;
  font-weight: 800;
}

.nav.navbar-nav.navbar-right > button{
  background-color: #FFFFBB;
  border-color: black;
}

.nav.navbar-nav.navbar-right > button > a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.nav.navbar-nav.navbar-right > button > a:hover {
  color: #666666;
}

.navbar-header .navbar-toggle .icon-bar{
  background-color: #FFFFBB;
}

/*navbar - collapse - pull-right*/
.nav.navbar-nav.navbar-right {
  text-align: right;
}

/*navbar - glyphicon - user & admin*/
.navbar-header .glyphicon {
  font-size: 30px;
  margin-top: 10px;
  color: #FFFFBB;
  margin-left: 10px;
}

/*navbar - title*/
.res-title {
  color: #EEEEEE;
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  font-family: Lobster;
  margin-left: 10px;
}

/*table - name, show, edit, destroy*/
.table td > a.btn {
  background-color: #FFFFBB;
}

.table tbody tr td {
  vertical-align: middle;
}

.res-name {
  color:#777777;
  font-size: 20px;
}

/*table - image size*/
.table .image-frame {
  max-width: 150px;
}

/*web page title*/
.index-title, .show-title {
  color: #777777;
}

/*show page*/
.well {
  background-color: #FFFFBB;
}

.well .row .show-content-detail > p{
  margin-top: 20px;
  font-size: 20px;
}

.well .row .col-xs-5 {
  border-right: 3px solid #FF6347;
  text-align: right;
}

.show-image-frame {
  margin: auto;
  max-width: 600px;
}

.show-icon {
  font-size: 20px;
}
